<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <!--<a href="#" class="pure-menu-link">Chapter 1</a>-->
      <% @toc.each_with_index do |chapter, number| %>
        <a href="/chapters/<%= number + 1 %>" class="pure-menu-link"><%= chapter %></a>
      <% end %>  
    </li>
  </ul>
</div>
