<!doctype html>
<html>
  <head>
    <title>File-Based CMS</title>
    <!--<link rel="stylesheet" href="/stylesheets/reset.css">-->
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>