table {
    /*border-collapse: collapse;*/
    border-collapse: separate;
    /*border-spacing: 4px;*/
    border-spacing: 5px 10px;
}

th,
td {
    border: 1px solid #c6c7cc;
    padding: 10px 15px;
}

th {
    font-weight: bold;
}