/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************************/
/*CSS*/
/****************************************************/

body {
	padding: 75px 0 0 0;
	font: normal 20px Arial, sans-serif;
	color: #45494d;
	background: #2f2840 url("images/bg_body.gif");
}

header, main, footer {
	width: 1000px;
	margin: 0 auto;
}

h1 {
	padding: 0 0 130px 0;
	text-align: center;
}

header nav ul {
	margin: 0 auto;
	font-size: 0;
	text-align: center;
}

header nav ul li {
	display: inline-block;
	margin: 0 44px;
}

header nav a {
	text-decoration: none;
	font-size: 26px;
	text-transform: uppercase;
	color: #a19fa5
}

header nav .current_page {
	color: #6db9ff;
	font-weight: bold;
}

main {
	width: 100%;
	margin-top: 50px;
	padding: 120px 0 0 0;
	text-align: center;
	background-color: #fff;
	box-sizing: border-box;
}

#about_us, #founder {
	width: 780px;
	padding-bottom: 120px;
	margin: 0 auto;
}

h2 {
	font-size: 36px;
	padding-bottom: 30px;
}

#projects img {
	padding-bottom: 50px;
}

#projects h3 {
	padding-bottom: 25px;
	font-size: 24px;
	font-weight: bold;
	color: #3e59b2;
}

#projects p, #team p {
	max-width: 770px;
	margin: 0 auto;
}

#projects article {
	padding-bottom: 50px;
}

#projects:last-child {
	padding-bottom: 135px;
}

#team {
	padding-bottom: 240px;
}

#team p {
	padding-bottom: 130px;
}

#team ul li {
	display: inline-block;
	padding: 0 30px;
}

#team ul li img {
	display: block;
	padding-bottom: 30px;
}

#team a {
	text-decoration: none;
	font-size: 24px;
	color: #3e59b2;
}

footer {
	width: 100%;
	background-color: #e7e7e7;
}

footer p {
	width: 500px;
	margin: 0 auto;
	padding-top: 85px;
	text-align: center;
	color: #b6b6b6;
}

footer .social_media {
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 77px;
	text-align: center;
}

footer ul li {
	display: inline-block;
	margin: 0 63px 0 63px;
}

footer ul a {
	display: block;
	text-decoration: none;
	width: 46px;
	height: 46px;
	text-indent: -9000px;
	background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
}

footer ul .facebook {
	background-position: 0 -46px;
}

footer ul .email {
	background-position: 0 -92px;
}

footer ul .instagram {
	background-position: 0 -138px;
}