<form action="/users/signin" method="post">
  <label for="username_field">Username</label>
  <input id="username_field" type="text" name="username">
  <label for="password_field">Password</label>
  <input id="password_field" type="password" name="password">
  <button type="submit" value="SignIn">SignIn</button>
</form>