body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;
    line-height: 22px;
}

/*Shorthand font properties*/

html {
    font: italic small-caps bold 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}