ul {
  list-style: none;
}
/*.fourth {*/
/*  display: inline-block;*/
/*  width: 25%;*/
/*  vertical-align: top;*/
/*}*/

.row {
  clear: both;
}

.row:after {
  display: block;
  clear: both;
  line-height: 0;
  content: "";
}

.fourth {
  float: left;
  width: 23.5%;
  margin-left: 2%;
  background: #ccc;
}

.row .fourth:first-child {
  margin-left: 0;
}