<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <% @contents.each_with_index do |chapter, index| %>
        <a href="/chapters/<%= index + 1 %>" class="pure-menu-link"><%= chapter %></a>
      <% end %>
    </li>
  </ul>
</div>