body {
  font-family: sans-serif;
}

.message {
  width: 95%;
  margin: 10px auto;
  background-color: #eedd82;
}

.message p {
  padding: 5px;
}

.inline {
  display: inline;
}

li {
  margin-bottom: 5px;
}

.file_name {
  display: inline-block;
  width: 200px;
}