<form action="/create" method="post">
  <label for="document_name">Add a new document:</label><br>
  <input id="document_name" type="text" name="file_name">
  <input type="submit" value="Create">
</form>