div {
    background: #466368;
    background: -webkit-linear-gradient(#648880, #293f50);
    background: -moz-linear-gradient(#648880, #293f50);
    background: linear-gradient(to right bottom, #648880, #293f50); /*Also accepts degree as parameter to make diagonal gradients*/
    border-radius: 6px;
    height: 120px;
}