<!doctype html>
<html>
  <head>
    <title>File-Based CMS</title>
    <!--<link rel="stylesheet" href="/stylesheets/reset.css">-->
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <header>
      <div class="message">
        <% if session[:error] %>
          <p><%= session.delete(:error) %></p>
        <% end %>
        <% if session[:success] %>
          <p><%= session.delete(:success) %></p>
        <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>