<h2 class="content-subhead">Chapter <%= params[:number] %></h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
    <%= in_paragraphs(@chapter_text) %>
    </li>
  </ul>
</div>
