<!doctype html>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <%= yield%>
    <footer>
      <p>There are <%= number_of_users %> with a total of <%= number_of_interests %>.</p>
    </footer>
  </body>
</html>