@import url(css_reset.css);

body {
  font: normal 18px "Roboto Condensed", sans-serif;
  background-image: linear-gradient(to bottom, #d2dbbd, #fcfef4);
  background-repeat: no-repeat;
  color: #3e606f;
}

header {
  width: 920px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

h1 {
  float: left;
  background: transparent url("logo.png") no-repeat;
  padding: 45px 0 15px 115px;
  font-size: 36px;
  font-weight: normal;
  color: #193441;
}

nav {
  float: right;
  padding-top: 75px;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px 40px 14px 40px;
  color: #91aa9d;
  background: #fcfff5;
  border-radius: 10px 10px 0 0;
}

nav .active:hover {
  background: #91aa9d;
  color: #fcfff5;
}

header::after {
  display: block;
  content: "";
  clear: both;
}

main {
  width: 900px;
  margin: 0 auto;
  padding: 30px 30px 50px 30px;
  background: #ffffff;
  box-shadow: 0 5px 5px #b8b8b7;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  margin-top: 45px;
  margin-bottom: 35px;
}

p {
  padding-bottom: 20px;
}

section article {
  float: left;
  width: 530px;
}

section aside {
  float: right;
}

section::after {
  display: block;
  content:"";
  clear: both;
}

footer {
  width: 960px;
  margin: 0 auto;
  padding: 15px 0 40px 0;
  font-size: 14px;
}